<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yuhao.yiliyili">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppPinkTheme">


        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppPinkTheme">
        </activity>

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/theme_fullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.VitamioVideoActivity"
            android:theme="@style/AppPinkTheme"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>